<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Hello</title>
</head>
<body>
<div class="main">
    <div class="header">
        <div class="top">
            <div class="logo">
                <img src="images/logo.png">
            </div>
            <div class="header_info">
                <div class="about">
                    <a href="">О проекте</a>
                </div>
                <div class="contacts">
                    <a href="">Контактная информация</a>
                </div>
            </div>
        </div>
        <div class="clear">&nbsp;</div>
        <div class="grey_line">
            <div class="menu">
                <ul>
                    <li class="icons articles"><a href="#"><span>Статьи</span></a></li>
                    <li class="icons cases"><a href="#"><span>Кейсы</span></a></li>
                    <li class="icons events"><a href="#"><span>События</span></a></li>
                </ul>

            </div>
            <div class="menu_right">
                <div class="send_news">
                    <a href="#">Прислать новость</a>
                </div>
                <div class="search">
                    <div class="background">
                        <input type="text" value="Искать тут">
                    </div>
                    <div class="icons button">

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="cases">
        <div class="header">
            <div class="label">
                Кейсы
            </div>
            <div class="hr"></div>
        </div>
        <div class="clear">&nbsp;</div>

        <div class="content">
            <ul class="cases">
                <li>
                    <div>
                        <img class="featured_image" src="images/orderino_stumb.png">
                        <div class="public_date">19 марта</div>
                        <div class="title"><a href="#">Никита Обухович: Уже более года работаю в Abiatec и ничуть не жалею</a></div>

                    </div>
                </li>
                <li>
                    <div>
                        <img class="featured_image" src="images/orderino_stumb.png">
                        <div class="public_date">19 марта</div>
                        <div class="title"><a href="#">Никита Обухович: Уже более года работаю в Abiatec и ничуть не жалею</a></div>

                    </div>
                </li>
                <li>
                    <div>
                        <img class="featured_image" src="images/orderino_stumb.png">
                        <div class="public_date">19 марта</div>
                        <div class="title"><a href="#">Никита Обухович: Уже более года работаю в Abiatec и ничуть не жалею</a></div>

                    </div>
                </li>
                <li>
                    <div>
                        <img class="featured_image" src="images/orderino_stumb.png">
                        <div class="public_date">19 марта</div>
                        <div class="title"><a href="#">Никита Обухович: Уже более года работаю в Abiatec и ничуть не жалею</a></div>

                    </div>
                </li>

            </ul>
        </div>
    </div>
    <div class="clear">&nbsp;</div>

    <div class="footer">
        <div class="left">
            <div class="icons logo"></div>
            <div class="copyright">&#0169; 2013. Перепечатка материалов с указанием ссылки приветствуется.</div>
        </div>
        <div class="right">
            <div class="design">
                <div class="icons n97"></div>
                <div class="n97_link">
                    Дизайн: <a href="#">Nineseven</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>