@font-face {
	font-family: ptsansbold;
	src: url('/ptsansbold-webfont.ttf');
}
@font-face {
	font-family: ptsans;
	src: url('/ptsans-webfont.ttf');
}

body {
	font-family: ptsans;
	margin: 0;
	background: #fff;
}
.clear {
	float: none;
	height: 0;
	clear: both;
}
.main {
	width: 1115px;
	margin: 0 auto;
	background: #fff;
}

.main .header {
	margin: 0;
}
.main .header .top {
	height: 90px;
	margin: 0;
}
.main .header .logo {
	float: left;
	margin: 23px 0 0 63px;
}
.main .header .header_info {
	float: right;
	margin: 20px 0 0 0;
}
.main .header .header_info a {
	text-decoration: none;
	color: #0258b8;
	font-size: 12px;
}
.main .header .header_info .about {
	float: left;
}
.main .header .header_info .contacts {
	float: left;
	margin: 0 63px 0 15px;
}
.main .header .grey_line {
	background-color: #2e2a2b;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.main .header .grey_line .menu {
	margin: 0 0 0 -6px;
	float: left;
}
.main .header .grey_line .menu ul {
	list-style-type: none;
	margin: 0;
}
.main .header .grey_line .menu ul li {
	float: left;
}

.icons {
	background-image: url("images/icons.png");
	background-repeat: no-repeat ;
}
.main .header .grey_line .menu ul li {
	height: 40px;
	display: block;

	background-position: 101px 0;
	width: 108px;
}
.menu ul li span {
	display: block;
}
li.cases span {
	margin: 0 0 0 -12px;
}
li.events span {
	margin: 0 0 0 -12px;
}
.main .header .grey_line .menu a {
	color: #fff;
	height: 40px;
	text-decoration: none;
	font-size: 16px;
}

.main .header .grey_line .menu_right {
	float: right;
	margin: 0 48px 0 0;
}
.main .header .grey_line .send_news {
	margin: 0 0 0 -6px;
	float: left;
}
.main .header .grey_line .send_news a {
	text-decoration: none;
	color: #888;
}
.main .header .grey_line .search {
	float: left;
	margin: 0 0 0 5px;
}
.main .header .grey_line .search .background {
	float: left;
	width: 205px;
	background-color: white;
	height: 22px;
	margin: 9px 0 0 10px;
	padding: 0;
}
.main .header .grey_line .search .background input {
	margin: 0;
	padding: 0;
	position: relative;
	left: -12px;
	top: 3px;
	width: 170px;
	border: 0;
	outline: none;
	color: #888;
}
.main .header .grey_line .search .button {
	float: left;
	width: 14px;
	height: 10px;
	background-color: white;

	background-position: -8px 0;
	position: relative;
	left: -22px;
	top: 16px;
	cursor: pointer;
}

/* slider */
.main .slider_container {
	width: 990px;
	height: 310px;
	/*background: yellow;*/
	margin: 30px auto 0;
	overflow: hidden;
}
.main .slider_container .slider {
	width: 2000px;

}
.main .slider_container .slider .left {
	position: relative;
	float: left;
	z-index: 1;
	margin: 0 -22px 0 0;
}
.main .slider_container .slider .left img {
	width: 750px;
	height: 310px;
}

.main .slider_container .slider .right {
	position: relative;
	float: left;
	z-index: 2;
}
.main .slider_container .slider .right .toggler {
	float: left;
	width: 51px;
	z-index: 3;
	position: relative;
	top: 126px;
	left: -2px;
}
.main .slider_container .slider .right .toggler div {
	background:url(/wp-content/themes/simple-catch/images/icons.png) no-repeat -48px -19px;
	width: 51px;
	height: 51px;
}
.main .slider_container .slider .right .slide {
	float: left;
	margin: 0 0 0 -29px;
	background-color: #fff;
}
.main .slider_container .slider .right .slide img {
	width: 750px;
	height: 310px;
	margin: 0 0 0 3px;
}
/* articles */
.main > .articles {
	width: 990px;
	margin: 30px auto 0;
}

.main .articles .header {
	height: 35px;
}
.main .articles .header .label {
	color: #2e2a2b;
	font-size: 30px;
	float: left;
	font-family: ptsansbold;
	cursor: pointer;
}

.main .articles .header .label a {
	text-decoration: none;
	color: #2e2a2b;
}
.main .articles .header .label a:visited {
	color: #2e2a2b;
}
.main .articles .header .label a:hover {
	color: #3579c6;
}
.main .articles .header .hr {
	height: 1px;
	background: #c0bfbf;
	width: 885px;
	position: relative;
	top: 19px;
	left: 105px;
}
.main > .articles .content {
	width: 990px;
	margin: 30px 0 0 0;
}

/* articles ul */

.main > .articles .content ul.articles {
	list-style-type: none;
	padding: 0;
	margin: -30px 0 0 -40px;
	display: block;
}
.main > .articles .content ul.articles li {
	float: left;
	width: 300px;
	min-height: 330px;
	margin: 30px 0 0 43px;
	overflow: hidden;
	display: block;
}

.main > .articles .content ul.articles .image_container {
	text-align: center;
}
.main > .articles .content ul.articles .featured_image {
	width: 300px;
	height: 150px;
}
.main > .articles .content ul.articles .public_date {
	text-align: left;
	font-size: 12px;
	color: #6c696a;
	margin: 21px 0 3px 0;
}
.main > .articles .content ul.articles .title {
	font-size: 18px;
	text-align: left;
	font-family: ptsansbold;

}
.main > .articles .content ul.articles .title a {
	text-decoration: none;
	color: #000;
}
.main > .articles .content ul.articles .title a:hover {
	color: #3579c6;
}

.main > .articles .content ul.articles .excerpt {
	font-size: 14px;
	text-align: left;
	margin: 10px 0 0 0;
	line-height: 20px;
}
/* events */
.main > .events {
	width: 100%;
	background-color: #dfdcce;
	min-height: 50px;
	margin: 20px 0 0 0;
	padding: 0 0 20px 0;
}
.main > .events ul {
	list-style-type: none;
	margin: 0 0 0 2px;
}
.main > .events ul li {
	float: left;
	display: block;
	/*min-height: 100px;*/
	min-width: 200px;
	max-width: 275px;
	margin: 0 0 0 18px;
}



.main > .events ul .flag {
	background: url('images/icons.png') no-repeat -8px -10px;
	width: 11px;
	height: 18px;
}
.main > .events ul .content {
	margin: 0 0 0 18px;
}
.main > .events .event_date {
	color: #656565;
	font-size: 14px;
}
.main > .events .title {
	color: #77756c;
	font-size: 16px;
	font-family: ptsansbold;
}
.main > .events li .content:hover .title, .main > .events li .content:hover .event_date  {
	color: #fff;
	cursor: pointer;
}
.main > .events li a {
	text-decoration: none;
}
/* cases */
.main > .cases {
	width: 990px;
	margin: 30px auto 0;
}

.main .cases .header {
	height: 35px;
}
.main .cases .header .label {
	color: #2e2a2b;
	font-size: 30px;
	float: left;
	font-family: ptsansbold;
	cursor: pointer;
}

.main .cases .header .label a {
	text-decoration: none;
	color: #2e2a2b;
}
.main .cases .header .label a:visited {
	color: #2e2a2b;
}
.main .cases .header .label a:hover {
	color: #3579c6;
}

.main .cases .header .hr {
	height: 1px;
	background: #c0bfbf;
	width: 885px;
	position: relative;
	top: 19px;
	left: 105px;

}
.main .cases .header .hr.events {
	height: 1px;
	background: #c0bfbf;
	width: 865px;
	position: relative;
	top: 19px;
	left: 125px;

}
.main > .cases .content {
	width: 990px;
	margin: 30px 0 0 0;
}

/* cases ul */

.main > .cases .content ul.cases {
	list-style-type: none;
	padding: 0;
	margin: -30px 0 0 -40px;
	display: block;
}
.main > .cases .content ul.cases li {
	float: left;
	width: 300px;
	/*min-height: 330px;*/
	margin: 30px 0 0 43px;
	overflow: hidden;
	display: block;
}
.main > .cases .content ul.cases li.first {
	margin-left: 0;
}
.main > .cases .content ul.cases .featured_image {
	width: 300px;
	height: 150px;
}
.main > .cases .content ul.cases .public_date {
	text-align: left;
	font-size: 12px;
	color: #6c696a;
	margin: 21px 0 3px 0;
}
.main > .cases .content ul.cases .title {
	font-size: 18px;
	text-align: left;
	font-family: ptsansbold;

}
.main > .cases .content ul.cases .title a {
	text-decoration: none;
	color: #000;
}
.main > .cases .content ul.cases .title a:hover {
	color: #3579c6;
}

.main > .cases .content ul.cases .excerpt {
	font-size: 14px;
	text-align: left;
	margin: 10px 0 0 0;
	line-height: 20px;
}
/* footer */

.main .footer {
	margin: 40px 0 0 0;
	background-color: #2e2a2b;
	height: 100px;
}

.main .footer .left {
	color: #888;
	float: left;
}
.main .footer .left .logo {
	background-position: -22px 0;
	background-repeat: no-repeat;
	width: 77px;
	height: 19px;
	margin: 35px 0 0 62px;
}
.main .footer .left .copyright {
	font-size: 12px;
	margin: 10px 0 0 62px;
}
.main .footer .right  {
	float: right;
}
.main .footer .right .design {
	margin: 60px 60px 0 0;
}
.main .footer .right .design .n97 {
	background-position: -19px -19px;
	background-repeat: no-repeat;
	width: 29px;
	height: 18px;
	/*margin: 35px 0 0 62px;*/
	float: left;
}
.main .footer .right .design .n97_link {
	float: left;
	color: #888;
	margin: 3px 0 0 7px;
	font-size: 12px;
}
.main .footer .right .design .n97_link a:visited, .main .footer .right .design .n97_link a {
	color: #888;
}

.popup_overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.75;
	background-color: #000;
	z-index: 10;
}

.popup {
	z-index: 15;
	position: fixed;
	background-color: #fff;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	top: 65px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.popup.send_news {
	width: 500px;
	min-height: 500px;
}
.popup .popup_container {
	overflow: hidden;
	margin: 23px 21px 0 43px;
}

.popup .popup_container .header {
}
.popup .popup_container .header .label {
	font-family: ptsansbold;
	font-size: 26px;
	float: left;
	height: 40px;
}
.popup .popup_container .header .close {
	float: right;
	background: url("images/icons.png") no-repeat 0 -41px;
	width: 29px;
	height: 29px;
	cursor: pointer;
}

.popup .popup_container .content .header_input {
	width: 397px;
	margin: 28px 0 0 0;
	border: 1px solid #ccc;
	height: 26px;
	padding: 2px 0 2px 10px;
	color: #aaa;
	font-weight: bold;
	outline-width: 0;
}
.popup .popup_container .content .news_content {
	padding: 11px 0 2px 10px;
	color: #aaa;
	font-weight: bold;
	outline-width: 0;
	width: 397px;
	margin: 20px 0 0 0;
	border: 1px solid #ccc;
	font-family: ptsans;
	min-height: 255px;
}
.popup .popup_container .send_news {
	height: 40px;
	width: 210px;
	text-align: center;
	background-color: #2e2a2b;
	font-size: 16px;
	margin: 19px 0 0 0;
	color: #fff;
	line-height: 42px;
	cursor: pointer;
	float: left;
}
.popup .popup_container .send_news:hover {
	background-color: #5b5b5b;
}
.popup .popup_container .result {
	float: left;
	margin: 31px 0 0 20px;
	display: none;
}
.result.success {
	color: #40a240;
}
.result.fail {
	color: #a24940;
}

/* single article page */
.main .article_content {
	margin: 40px 0 0 0;
}
.main .article_content .left {
	float: left;
	width: 320px;
	height: 1px;
}
.main .article_content .article_container {
	float: left;
	width: 650px;
}
.main .article_content .article_container .breadcrumbs {
	font-size: 12px;
}
.main .article_content .article_container .breadcrumbs a {
	text-decoration: none;
	color: #3579c6;
}
.main .article_content .article_container .breadcrumbs .arrow {
	font-size: 16px;
	margin: 0 5px;
}

.main .article_content .article_container .title {
	font-family: ptsansbold;
	font-size: 36px;
	margin: 10px 0 0 0;
}
.main .article_content .article_container .public_date {
	text-align: left;
	font-size: 12px;
	color: #6c696a;
	margin: 3px 0 3px 0;
}
.main .article_content .article_container .content {
	margin: 10px 0 0 0;
}
.main .article_content .article_container .tags {
	margin: 15px 0 0 0;
}
.main .article_content .article_container .tags .label {
	float: left;
	margin: 0 3px 0 0;
}
.main .article_content .article_container .tags .tag a {
	color: #3579c6;
	text-decoration: none;
}
.main .article_content .article_container .comments {
	margin: 40px 0 0 0 ;
}
.main .article_content .article_container .comments .header {
	margin: 0 0 20px 0;
}
.main .article_content .article_container .comments .header .label {
	color: #2e2a2b;
	font-size: 30px;
	float: left;
	font-family: ptsansbold;
	cursor: pointer;
}
.main .article_content .article_container .comments .header .hr {
	height: 1px;
	background: #c0bfbf;
	width: 543px;
	position: relative;
	top: 19px;
	left: 191px;
}
.main .hr {
	height: 1px;
	background: #c0bfbf;
	width: 994px;
	position: relative;
	left: 60px;

}

/* see also */
.main .cases.see_also {
	margin: 40px auto 0;

}